@model Miles.Sample.Web.Models.Leagues.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>

@foreach (var item in Model.Leagues) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Standings", "Standings", new { id = item.Abbreviation }) |
            @Html.ActionLink("Fixtures", "Index", "Fixtures", new { id = item.Abbreviation }, null) |
            @Html.ActionLink("Register Team", "RegisterTeam", new { id = item.Abbreviation }, null)
        </td>
    </tr>
}

</table>
