@model Miles.Sample.Web.Models.Leagues.StandingsModel

@{
    ViewBag.Title = "Standings";
}

<h2>Standings</h2>

<table class="table">
    <tr>
        <th>Team</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>F</th>
        <th>A</th>
        <th>Pts</th>
    </tr>

@foreach (var item in Model.Teams) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Played)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Draws)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Losses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsAgainst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
    </tr>
}

</table>
